############################################################################
# Suchmaschinenoptimierte Links umschreiben
############################################################################
RewriteEngine On


############################################################################
# Umleitungen
############################################################################

# de als Standardverzeichnis
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !de/
RewriteCond %{REQUEST_FILENAME} !en/
RewriteRule ^(.*)$ http://twick.it/blog/de/$1 [L,R=301]	